/* Custom settings */
.base {
    line-height: 1.25em !important;
    width:94% !important;
    border-radius: 5px;
    border: 5px solid #1b9e77;
}
.dtbl {
    line-height: 1.25em !important;
    width:94% !important;
    border-radius: 5px;
    border: 5px solid  #d95f02;
}
.dplyr {
    line-height: 1.25em !important;
    width:94% !important;
    border-radius: 5px;
    border: 5px solid #7570b3;
}
h3 {
  border-bottom: 2px solid #f7f7f7;
  padding-top: 10px;
  font-size: 110%;
  font-style: italic;
}
