/*-- CSS extra formatting --*/

pre, code {
  line-height: 1.15;
}

table { 
  caption-side: top;
}

.accent {
  color: #9A2EFE;
  font-weight: bold;
}

blockquote {
    padding:     10px 20px;
    margin:      0 0 20px;
    border-left: 0px
}
